<footer
  class="opaco mx-auto flex h-[5rem] max-w-3xl items-center px-8 text-[0.9em] opacity-60"
>
  <div class="mr-auto">
    &copy; {{ now.Year }}
    <a class="link" href="{{ `` | absURL }}">{{ site.Title }}</a>
  </div>

  <div class="ml-auto">
    {{ with $.Scratch.Get "social_list" }}
  <nav
    class="flex justify-center space-x-10 dark:invert lg:mt-0 lg:ml-12 lg:items-center lg:space-x-6"
  >
    {{ range . }}<!---->
    <a
      class="h-8 w-8 [background:var(--url)_center_center/cover_no-repeat] lg:h-6 lg:w-6"
      style="--url: url(./{{ . }}.svg)"
      href="{{ if eq . `rss` }} {{ `index.xml` | absURL }} {{ else if eq . `mastodon` }} {{ site.Params.Get . }} {{ else }} https://{{ . }}.com/{{ site.Params.Get . }} {{ end }}"
      target="_blank"
    ></a>
    {{ end }}<!---->
  </nav>
  {{ end }}<!---->
  </div>
</footer>
