<header class="mx-auto flex h-[5rem] max-w-3xl px-8 justify-between">
  <div class="relative z-50 flex items-center">
    <a href="{{ `` | absURL }}">
      <img src="/img/hi_logo.jpg" alt="" width="70px" />
    </a>
  </div>

  <div class="relative hover:pl-8 mx-auto flex items-center lg:justify-center">
    <a
      class="-translate-x-[1px] -translate-y-0.5 text-3xl font-bold"
      href="{{ `` | absURL }}"
      >{{ site.Title }}</a
    >
  </div>

  <a
    class="btn-menu relative z-50 flex h-[5rem] w-[5rem] shrink-0 cursor-pointer flex-col items-center justify-center gap-2.5 lg:hidden"
  ></a>

  {{ $bg_color := $.Scratch.Get "bg_color" }}
  <script>
    // base
    const htmlClass = document.documentElement.classList;
    setTimeout(() => {
      htmlClass.remove("not-ready");
    }, 10);

    // mobile menu
    const btnMenu = document.querySelector(".btn-menu");
    btnMenu.addEventListener("click", () => {
      htmlClass.toggle("open");
    });
  </script>

  <div
    class="nav-wrapper fixed inset-x-0 top-full z-40 flex h-full select-none flex-col justify-center pb-16 duration-200 dark:bg-black lg:static lg:h-auto lg:flex-row lg:!bg-transparent lg:pb-0 lg:transition-none"
  >
    {{ $url := .RelPermalink }}<!---->
    {{ with site.Menus.main }}
    <nav class="lg:flex lg:flex-row lg:items-center lg:space-x-6">
      {{ range . }}
      <a
        class="block text-center text-2xl leading-[5rem] lg:text-base lg:font-normal"
        href="{{ .URL }}"
        >{{ .Name }}</a
      >
      {{ end }}
    </nav>
    {{ end }}<!---->
  </div>
</header>
